.agentContainer {
    background-color: rgb(10,18,27);
    color: white;
}

.wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    margin: 20px;
}

.card {
  /* Add shadows to create the "card" effect */
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  border: 1px solid white;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.card__image {
    width: 100px;
    height: 100px;
}

.agent-link {
    color: red;
    text-decoration: none;
}