.agentDetails-Container {
   background-color: rgb(10, 18, 27);
   color: white;
   position: relative;
}

.agent-detail-img {
   max-width: 55%;
   height: auto;
}

.agent-name-img {
    max-width: 40%;
    height: auto;
 }


.abilities-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.abilities-div {
   display: grid;
   grid-template-columns: repeat(auto-fit);
   gap: 20px;
   max-width: 1500px;
   margin: 0 auto;
   padding: 0 20px;
}

.desc-div {
    max-width: 550px;
    padding-bottom: 30px;
}

.ability-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.agent-desc {
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    font-size: 20px;
}