.image-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}



.container {
    width: 100%;
    text-align: center;
}

.lineUp-description {
    max-width: 600px;
    margin: 0 auto;
}

.lineup-link {
    text-decoration: None;
}

.text-link {
    padding: 10px;
    font-weight: bold;
    margin-right: 10px; 
    font-size: 16px;
    border: 2px white solid;
    cursor: pointer;
}

