.agent-imgs {
   max-width: 50%;
   height:auto;
}
 
 .react-player {
   display: block;
   margin-left: auto;
   margin-right: auto;
   border: 2px solid white;
 }

 .title {
   padding: 15px;
 }


 .lineUpTitle {
   padding: 10px;
 }