.agent-imgs {
   max-width: 50%;
   height:auto;
}
 
 .react-player {
   display: block;
   margin-left: auto;
   margin-right: auto;
   border: 2px solid white;
   margin-top: 20px;
 }


 .layout{
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   flex-direction: row;
 }

 .title {
   padding: 10px;
   padding-bottom: 15px;
 }
