.image-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.border-p{
    border: 2px solid red;
}

.container {
    width: 100%;
    text-align: center;
}

.lineUp-description {
    width: 500px;
    margin: 0 auto;
}