   .maps-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      height: 80vh;
      margin: 10rem;
      max-width: 100%;
   }

   .map-imgs {
      max-width: 90%;
      height:auto;
   }

