   .maps-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      height: 60vh;
      margin: 10rem;
   }

   .map-imgs {
      max-width: 90%;
      height:auto;
   }

