.maps-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin: 10rem 0 10rem 0;
   max-width: 100%;
}

.map-imgs {
   max-width: 90%;
   height: auto;
}
