* {
   background-color: rgb(10,18,27);
}

a {
	font-size: 16px;
	text-transform: uppercase;
   padding-top: 3rem;
}
.val-logo {
   margin-right: 50px;
   width: 50px;
}
.nav-area {
	background-color: rgb(10,18,27);
}
.nav-area:after {
	content: '';
	clear: both;
	display: block;
}
.nav-area ul {
	list-style: none;
	margin: 0;
}
.nav-area>ul>li {
	float: left;
	position: relative;
}
.nav-area ul li a {
	text-decoration: none;
	color: #fff;
	padding: 20px 20px;
	display: block;
}
.nav-area ul li:hover a {
	background-color: rgb(10,18,27);
}
.nav-area ul ul {
	position: absolute;
	padding: 0;
	min-width: 160px;
	display: none;
	top: 100%;
	left: 0;
}
.nav-area ul li:hover>ul {
	display: block;
}
.nav-area ul ul li:hover a {
	background-color: #FC2B44;
}
.nav-area ul ul li {
	position: relative;
}
.nav-area ul ul ul {
	top: 0;
	left: 100%;
}
.nav-area ul ul ul li:hover a {
	background-color: rgb(10,18,27);
}
.padding-top {
   padding-top: 0.5rem;
}