.weapons-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.weapons-h1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weapons-h2 {
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weapons-div {
  padding: 0rem 40rem 5rem 40rem;
}

.weapons-img {
  /* padding-top: 2rem; */
  padding-bottom: 4rem;
}

/* weapons detail */
.skins-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(10,18,27);
  padding: 10px;
}