.weapons-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.weapons-h1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weapons-h2 {
  /* padding-top: 4rem; */
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 3px solid #FC2B44;
  display: inline-block;
}

.weapons-div {
  /* padding: 0rem 40rem 5rem 40rem; */
  display: grid;
  grid-template-columns: repeat(auto-fit);
  gap: 20px;
  /* padding: 0rem 20rem 5rem 20rem; */  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

.weapons-img {
  /* padding-top: 2rem; */
  padding-bottom: 4rem;
}

.skins-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.skins-text {
  font-size: 40px;
  margin: 8rem 0 10px 0;
}

.wep-text {
  font-size: 50px;
  margin-bottom: 5rem;
}

.single-container {
  position: relative;
  max-width: 100%;
}

.wep-image {
opacity: 1;
max-width: 100%;
height: auto;
transition: .5s ease;
backface-visibility: hidden;
}

.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.single-container:hover .wep-image {
opacity: 0.3;
}

.single-container:hover .middle {
opacity: 1;
}

.text {
background-color: transparent;
color: white;
font-size: 20px;
}